<%= stylesheet_link_tag 'practice.css', :media => 'all' %>
  <div class="tabs-menu">
    <div id="tab-menu-a">タブa</div>
    <div id="tab-menu-b">タブb</div>
    <div id="tab-menu-c">タブc</div>
  </div>
  <div class="tabs-content">
    <div id="tabs-a">
      <p>タブaの内容が入ります。</p>
    </div>
    <div id="tabs-b">
      <p>タブbの内容が入ります。</p>
    </div>
    <div id="tabs-c">
      <p>タブcの内容が入ります。</p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <%= javascript_include_tag 'practice.js' %>
